/* font-family: 'Rochester', cursive;
font-family: 'Alfa Slab One', cursive;  */
body, html {
    height: 100%;
}



body{
    background-image: url("../images/castle.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

 #container { 
     width: 700px;
    height: 800px; 
    margin: 0 auto;
    border: 1px solid #ffffff; /* remove after game is constructed

}










